/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  padding: 70px;
}
.modal-dialog {
  width: auto;
}
#Articles td img{
  width: 100%;
}
#Articles td{
  width: 50%;
  vertical-align: top;
}
#Articles{
  width: 100%;
}
#Articles .indicator{
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}

.center{
  text-align: center;
  display: block;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: -0.1em;
}
.jumbotron h1{
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: -0.1em;
}